/target
/debug
.vscode/*
.env
.env-docker
.DS_Store

# Remove Cargo.lock from gitignore if creating an executable, leave it for libraries
# More information here https://doc.rust-lang.org/cargo/guide/cargo-toml-vs-cargo-lock.html
Cargo.lock

# exclude data folder contents
data/*
# but keep the folder
!data/.gitkeep 
