:root {
  --highlight-color: #fa4f33;
  --sidebar-width: 200px;
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;

  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: rgb(18, 18, 18);
  --background-end-rgb: rgb(0, 0, 0);

  --gradient: linear-gradient(to top left, #fff, #777);
  --primary-hex: #fff;
  --secondary-hex: rgb(184, 184, 184);
  --highlight-hex: rgb(255, 64, 0);
  --background-hex: rgb(0, 0, 0);
  --background-secondary-hex: rgb(18, 18, 18);
  --border-hex: rgb(36, 36, 36);
  --border-focused-hex: rgb(255, 64, 0);

  --tint-hex: rgba(36, 36, 36, 0.256);
  --tint-focused-hex: rgba(40, 18, 6, 0.525);
}

::-webkit-scrollbar-track {
  background: #222;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background: #000;
  color: var(--secondary-hex);
  font-family: inter-var, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Helvetica, "Apple Color Emoji", Arial, sans-serif, "Segoe UI Emoji",
    "Segoe UI Symbol";
  overflow-y: overlay;
}

body {
  display: grid;
  grid-template-columns: var(--sidebar-width) 1fr;
  gap: 32px;
  margin: 0;
  color: var(--foreground-rgb);
  background: linear-gradient(
    to bottom,
    transparent,
    var(--background-end-rgb)
  );
}

a {
  color: inherit;
  text-decoration: none;
}

#sidebar {
  position: fixed;
  height: 100vh;
  left: 0;
  top: 0;
  overflow-y: auto;
  width: var(--sidebar-width);
  padding: 26px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#sidebar .metrics {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.live {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 5px;
}

.live .label {
  color: #888;
  font-size: 14px;
}

.live .switch {
  height: 24x;
  width: 36px;
  border-radius: 90px;
  background: #333;
  padding: 3px;
  display: flex;
  align-items: center;
}

.live .switch .bubble {
  height: 16px;
  width: 16px;
  border-radius: 90px;
  animation: pulse 3s infinite;
  transition: background-color 1s ease;
  background-color: var(--highlight-color);
}

@keyframes pulse {
  0% {
    transform: scale(1);
    background-color: rgb(221, 221, 221);
  }
  50% {
    transform: scale(0.9);
    background-color: var(--highlight-color);
  }
  100% {
    transform: scale(1);
    background-color: rgb(216, 216, 216);
  }
}

.primaryMetric {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  margin-bottom: 20px;
}

.primaryMetric .number {
  font-size: 38px;
  font-weight: 600;
  line-height: 1;
}

.primaryMetric .label {
  font-size: 14px;
  color: #666;
}

#content {
  grid-column: 2 / 3;
  display: grid;
  grid-template-rows: auto;
  gap: 20px;
  margin: 27px 32px;
}

#header {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  margin-top: -1px;
  margin-bottom: 12px;
  color: #777;
}

#header b {
  font-weight: 450;
  color: #999;
}

#header .left {
}

#header .right {
  display: flex;
  align-items: center;
  gap: 14px;
}

#header .right .item {
  font-weight: 500;
  color: #fff;
}

#header .right .item .number {
  font-weight: 400;
  color: #999;
}

#header .right .item .pos {
  color: rgb(67, 228, 17);
}

#header .right .item .neg {
  color: rgb(255, 42, 0);
}

#charts {
  display: flex;
  gap: 30px;
}

#hourly {
  flex: 4 1 100%;
  overflow: hidden;
}

#weekly {
  flex: 1 1 auto;
}

#weekly .heatmap {
  display: flex;
  flex-direction: column;
}

#weekly .day-row {
  display: flex;
  align-items: center;
}

#weekly .day-name {
  width: 32px;
  font-size: 13px;
  /* text-align: right; */
  margin-right: 14px;
  text-transform: uppercase;
}

#weekly .hour-cell {
  width: 10px;
  height: 25px;
  margin: 1px;
  background-color: #ddd;
  transition: background-color 0.3s ease;
}

#analytics,
#events {
  padding: 20px;
}

.sessions {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.session {
  border-top: 1px solid #222;
  padding-top: 12px;
  color: #fff;
}

.session .top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.session .top .right .duration {
  display: flex;
  align-items: center;
  gap: 2px;
  border-radius: 7px;
  overflow: hidden;
}

.session .top .right .duration .item {
  text-align: center;
  background: #222;
  font-family: var(--font-mono);
  line-height: 25px;
  height: 24px;
  font-size: 14px;
  padding: 0 6px;
}

.session .top .right .duration .item b {
  color: #999;
  font-weight: 400;
  margin-left: 1px;
}

.session .events {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  font-size: 14px;
  margin: 14px 0;
}

.session .events .event {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
  margin-bottom: 2px;
  height: 24px;
  color: #888;
}

.session .events .event .left {
  display: flex;
  align-items: center;
  flex: 1 0 auto;
}

.session .events .event .right {
  display: flex;
  align-items: center;
}

.session .events .event .name {
  flex: 0 1 100px;
  font-weight: 500;
  text-transform: uppercase;
}

.session .events .event .left .host {
  flex: 0 0 160px;
  margin-right: 20px;
}
.session .events .event .left .path {
  flex: 4 1 100px;
}

.session .events .event .left .time {
  flex: 1 1 100px;
}

.hourly {
  display: flex;
  column-gap: 4px;
  margin-top: 20px;
}

.hourly .col {
  flex: 1 0 30px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  text-align: center;
}

.hourly .col .bar {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background: #333;
  overflow: hidden;
  background: linear-gradient(to top, #222, #090909);
}

.hourly .col .future {
  background: #111;
  background: linear-gradient(to top, #111, #000);
}

.hourly .col .bar .bar-fill {
  background: var(--highlight-color);
}

.hourly .col .hour {
  font-size: 12px;
  margin-top: 8px;
}

.hourly .col .current {
  color: var(--highlight-color);
}

.overview {
  display: flex;
  align-items: stretch;
  gap: 20px;
  margin: 10px 0;
}

.globecontainer {
  position: relative;
  display: flex;
  justify-content: center;
  overflow: hidden;
  background: #111;
  width: 600px;
  height: 800px;
  border-radius: 18px;
  padding-top: 40px;
}

.globecontainer .content {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding: 16px 22px;
}

.globecontainer .top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 13px;
  font-size: 14px;
  color: #fff;
}

.globecontainer .top .right {
  color: #888;
}

.globecontainer #globeleaderboard {
  display: flex;
  flex-wrap: wrap;
  gap: 7px;
  position: relative;
  z-index: 10;
}

.globecontainer #globeleaderboard .city {
  flex: 1 0 30%;
}

#globe {
  z-index: 1;
  /* pointer-events: none; */
}

#urls {
  flex: 3 1 auto;
  height: 100%;
}

#browsers {
  flex: 1 0 300px;
  height: 100%;
}

#referrers {
  flex: 1 0 300px;
  height: 100%;
}

.tablecard {
  height: 100%;
  background: #111;
  padding: 16px 22px;
  border-radius: 18px;
}

.tablecard .top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  font-size: 14px;
  color: #fff;
}

.tablecard .top .left {
}

.tablecard .top .right {
  color: #888;
}

.tablecard .item {
  display: flex;
  align-items: center;
  padding: 5px 0;
  overflow: hidden;
}

.tablecard .item .left {
  flex: 0 0 77px;
  font-weight: 450;
}

.tablecard .item .right {
  flex: 1 0 auto;
  display: flex;
  align-items: center;
  color: #888;
  font-size: 14px;
}

.tablecard .item .right .host {
  flex: 1 0 120px;
  margin-right: 30px;
}

.tablecard .item .right .path {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  text-align: right;
  max-width: 500px;
}

.urls {
  background: #111;
  padding: 16px 22px;
  border-radius: 18px;
  margin: 10px 0;
}

.urls .top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  font-size: 14px;
  color: #fff;
}

.urls .top .left {
}

.urls .top .right {
  color: #888;
}

.urls .url {
  display: flex;
  align-items: center;
  padding: 5px 0;
  overflow: hidden;
}

.urls .url .left {
  flex: 0 0 77px;
  font-weight: 450;
}

.urls .url .right {
  flex: 1 0 auto;
  display: flex;
  align-items: center;
  color: #888;
  font-size: 14px;
}

.urls .url .right .host {
  flex: 0 0 140px;
  margin-right: 30px;
}

.urls .url .right .path {
}

.footer {
  display: flex;
  align-items: center;
  font-size: 14px;
  color: #666;
}

.footer a {
  display: flex;
  align-items: center;
}

.footer img {
  margin-right: 10px;
}
